*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding:10px;
    background: linear-gradient(135deg, #71b7e6,#eb59b6);
}
.container{
    max-width: 700px;
    width:100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size:25px;
    
}